WCFEbayClient/Connected Services/ServiceReference2/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFEbayServer" />
      <xsd:import schemaLocation="http://localhost:8080/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IService1_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_login_UnsuccessfullLoginFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WCFEbayServer" name="detail" element="q1:UnsuccessfullLoginFault" />
  </wsdl:message>
  <wsdl:message name="IService1_TestConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="IService1_TestConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TestConnection_ServiceDataFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/WCFEbayServer" name="detail" element="q2:ServiceData" />
  </wsdl:message>
  <wsdl:message name="IService1_bye_InputMessage">
    <wsdl:part name="parameters" element="tns:bye" />
  </wsdl:message>
  <wsdl:message name="IService1_bye_OutputMessage">
    <wsdl:part name="parameters" element="tns:byeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IService1_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_List_InputMessage">
    <wsdl:part name="parameters" element="tns:List" />
  </wsdl:message>
  <wsdl:message name="IService1_List_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Bid_InputMessage">
    <wsdl:part name="parameters" element="tns:Bid" />
  </wsdl:message>
  <wsdl:message name="IService1_Bid_OutputMessage">
    <wsdl:part name="parameters" element="tns:BidResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCars_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCars" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCars_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveCars_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCars" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveCars_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCarsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCars_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCars" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCars_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCarsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_allCars_InputMessage">
    <wsdl:part name="parameters" element="tns:allCars" />
  </wsdl:message>
  <wsdl:message name="IService1_allCars_OutputMessage">
    <wsdl:part name="parameters" element="tns:allCarsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveUsers" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUsers" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_allUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:allUsers" />
  </wsdl:message>
  <wsdl:message name="IService1_allUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:allUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/login" message="tns:IService1_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/loginResponse" message="tns:IService1_login_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/loginUnsuccessfullLoginFaultFault" name="UnsuccessfullLoginFaultFault" message="tns:IService1_login_UnsuccessfullLoginFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TestConnection" message="tns:IService1_TestConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TestConnectionResponse" message="tns:IService1_TestConnection_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/TestConnectionServiceDataFault" name="ServiceDataFault" message="tns:IService1_TestConnection_ServiceDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="bye">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/bye" message="tns:IService1_bye_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/byeResponse" message="tns:IService1_bye_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Add" message="tns:IService1_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddResponse" message="tns:IService1_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="List">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/List" message="tns:IService1_List_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListResponse" message="tns:IService1_List_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Bid">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Bid" message="tns:IService1_Bid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BidResponse" message="tns:IService1_Bid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCars">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCars" message="tns:IService1_GetCars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCarsResponse" message="tns:IService1_GetCars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCars">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SaveCars" message="tns:IService1_SaveCars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SaveCarsResponse" message="tns:IService1_SaveCars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCars">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteCars" message="tns:IService1_DeleteCars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteCarsResponse" message="tns:IService1_DeleteCars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="allCars">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/allCars" message="tns:IService1_allCars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/allCarsResponse" message="tns:IService1_allCars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SaveUsers" message="tns:IService1_SaveUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SaveUsersResponse" message="tns:IService1_SaveUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteUsers" message="tns:IService1_DeleteUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteUsersResponse" message="tns:IService1_DeleteUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUsers" message="tns:IService1_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUsersResponse" message="tns:IService1_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="allUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/allUsers" message="tns:IService1_allUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/allUsersResponse" message="tns:IService1_allUsers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/IService1/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UnsuccessfullLoginFaultFault">
        <soap:fault use="literal" name="UnsuccessfullLoginFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/IService1/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceDataFault">
        <soap:fault use="literal" name="ServiceDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="bye">
      <soap:operation soapAction="http://tempuri.org/IService1/bye" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IService1/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="List">
      <soap:operation soapAction="http://tempuri.org/IService1/List" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Bid">
      <soap:operation soapAction="http://tempuri.org/IService1/Bid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCars">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCars">
      <soap:operation soapAction="http://tempuri.org/IService1/SaveCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCars">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="allCars">
      <soap:operation soapAction="http://tempuri.org/IService1/allCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveUsers">
      <soap:operation soapAction="http://tempuri.org/IService1/SaveUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUsers">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="allUsers">
      <soap:operation soapAction="http://tempuri.org/IService1/allUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IService1" type="tns:IService1">
    <wsp:PolicyReference URI="#NetTcpBinding_IService1_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="login">
      <soap12:operation soapAction="http://tempuri.org/IService1/login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UnsuccessfullLoginFaultFault">
        <soap12:fault use="literal" name="UnsuccessfullLoginFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <soap12:operation soapAction="http://tempuri.org/IService1/TestConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceDataFault">
        <soap12:fault use="literal" name="ServiceDataFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="bye">
      <soap12:operation soapAction="http://tempuri.org/IService1/bye" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/IService1/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="List">
      <soap12:operation soapAction="http://tempuri.org/IService1/List" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Bid">
      <soap12:operation soapAction="http://tempuri.org/IService1/Bid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCars">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetCars" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCars">
      <soap12:operation soapAction="http://tempuri.org/IService1/SaveCars" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCars">
      <soap12:operation soapAction="http://tempuri.org/IService1/DeleteCars" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="allCars">
      <soap12:operation soapAction="http://tempuri.org/IService1/allCars" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveUsers">
      <soap12:operation soapAction="http://tempuri.org/IService1/SaveUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUsers">
      <soap12:operation soapAction="http://tempuri.org/IService1/DeleteUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="allUsers">
      <soap12:operation soapAction="http://tempuri.org/IService1/allUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8080/Service1.svc" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IService1" binding="tns:NetTcpBinding_IService1">
      <soap12:address location="net.tcp://localhost:8090/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>AHMEDMAHFOUZ\Mahfouz</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>